section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.input-container{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    input{
        padding: 1rem;
        border: 1px solid #000000;
        border-radius: 4px;
        margin-right: 1rem;
    }
    button{
        padding: 1rem;
        border-radius: 4px;
        background-color: #3498db;
        color: #ffffff;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: #2ecc71;
            color: #ffffff;
            transition: all 0.3s ease-in-out;
        }
    }
}